body {
    margin: 0;
    padding: 0;
}

.appbar {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
}

.addbox {
    background-color: white;
}

.add {
    position: absolute;
    right: 0;
    padding: 10px;
    margin-top: 15px;
    width: 30px;
    height: 30px;
}

.back {
    position: absolute;
    left: 0;
    padding: 10px;
    margin-top: 15px;
    width: 30px;
    height: 30px;
}

.content {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: grey;
}

.r {
    padding-right: 20px;
    font-size: larger;
    font-weight: bold;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 320px;
}

input {
    border: 1px solid green;
    border-radius: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}

.save {
    position: absolute;
    right: 0;
    font-size: 20px;
    margin-right: 20px;
    border: 1px solid green;
    background-color: white;
    padding: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.rating {
    margin: 30px;
    display: flex;
    justify-content: center;
}

select {
    text-align-last: center;
    padding-right: 29px;
    direction: rtl;
    font-size: 20px;
    margin-top: 15px;
    width: 80px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
}

.page {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}


/* .home {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
} */

.hs {
    display: flex;
    background-color: thistle;
    flex-direction: row;
    text-align: center;
    margin: 10px;
}

.hs img {
    width: 50px;
    height: 80px;
}

.hs p {
    padding: 10px;
    /* position: absolute;
    right: 0; */
}

.date {
    margin-right: 4px;
    position: absolute;
    right: 0;
}